---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Curriculum Vitae</h3><p><a href="https://drive.google.com/file/d/1EpOntKacdRrVQKlG_axKFvwStV67KJP3/view?usp=sharing">FayeRomero_CV_Sept2023.pdf</a></p>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <b>{{ section.title }}</b><br>
          {{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Research Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <b>{{ section.title }}</b><br>
          {{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Honors and Awards</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.honors-awards %}
          <b>{{ section.title }}</b><br>
          {{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Presentations</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.presentations %}
          <b>{{ section.title }}</b><br>
          {{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Media Coverage</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.media-coverage %}
          <b>{{ section.title }}</b><br>
          {{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Teaching and Leadership</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.teaching-leadership %}
          <b>{{ section.title }}</b><br>
          {{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Service</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.service %}
          <b>{{ section.title }}</b><br>
          {{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Professional Memberships</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.memberships %}
          <b>{{ section.title }}</b><br>
          {{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Skills</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.skills %}
          <b>{{ section.title }}</b><br>
          {{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
