---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3><p><a href="https://drive.google.com/file/d/1kD1y1SCQ65cM3R8mcHEi-TGSSeTHiGTS/view?usp=share_link">FayeRomero_CV_Feb2023.pdf</a></p>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <br>{{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <br>{{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Presentations</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.presentations %}
          <p class="fw-bold">{{ section.title }}</p>
          <br>{{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Honors and Awards</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.honors-awards %}
          <p class="fw-bold">{{ section.title }}</p>
          <br>{{ section.description }}<br><br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
