---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Research</h3>
    As a PhD candidate in <a href="https://popgenchenlab.github.io/">Nancy Chen's lab</a>, I’m interested in using population genomics to better understand how inbreeding impacts the fitness of small, threatened populations. Specifically, I’m investigating the genetic causes and phenotypic consequences of inbreeding: how does elevated inbreeding manifest in the genome? What regions of the genome contribute to negative fitness outcomes (and ultimately, population decline) over short timescales?<p>During my undergraduate at UC Berkeley in <a href="http://www.noahwhiteman.org/">Noah Whiteman's lab</a>, I used museum specimens from the <a href="https://mvz.berkeley.edu/">Museum of Vertebrate Zoology</a> to explore how the morphology of Anna’s Hummingbirds has responded to decades of anthropogenic environmental changes, such as the introduction of hummingbird feeders.
  </div>
  <div class="col-md-6">
    <img src="https://i.ibb.co/JnXpTc5/pic4website.png" alt="Faye with FSJ" width="419", height="280">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
